@import url("https://fonts.googleapis.com/css?family=Lato|Patua+One");
@import url("https://fonts.googleapis.com/css?family=Roboto|Merriweather");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gallery {
  margin-left: auto;
  margin-right: auto; }

body {
  padding: 0 0.5rem; }

h1, h2, h3, h4, legend {
  font-family: "Roboto", sans-serif; }

select, input, p, label, li {
  font-family: "Roboto", sans-serif; }

select {
  font-size: 1rem; }

label, input, p {
  font-size: 1.25rem; }

li {
  font-size: 1rem; }
  @media (min-width: 625px) {
    li {
      font-size: 1.25rem; } }

legend {
  font-size: 1.5rem; }
  @media (min-width: 625px) {
    legend {
      font-size: 1.75rem; } }

h3 {
  font-size: 1.25rem; }
  @media (min-width: 625px) {
    h3 {
      font-size: 1.5rem; } }

h4, button {
  font-size: 1.125rem; }
  @media (min-width: 625px) {
    h4, button {
      font-size: 1.25rem; } }

@-webkit-keyframes pageLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pageLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes galleryLoad {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes galleryLoad {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  padding: 1rem; }

header, footer {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: one;
          animation-iteration-count: one;
  -webkit-animation-name: pageLoad;
          animation-name: pageLoad;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  text-align: center; }

.globe {
  cursor: pointer;
  margin-bottom: 0.5rem; }
  @media (min-width: 625px) {
    .globe {
      width: 5rem; } }
  @media (min-width: 1000px) {
    .globe {
      width: 7.5rem;
      font-size: 2.1rem; } }

h1, h2, h3, blockquote {
  font-family: "Patua One", cursive; }

h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem; }
  @media (min-width: 625px) {
    h1 {
      font-size: 1.85rem; } }
  @media (min-width: 1000px) {
    h1 {
      font-size: 2.1rem; } }

blockquote {
  padding: 0 0.5rem;
  font-size: 1.1rem; }
  @media (min-width: 625px) {
    blockquote {
      padding: 0;
      font-size: 1.35rem; } }
  @media (min-width: 1000px) {
    blockquote {
      padding: 0;
      font-size: 1.6rem; } }

h3 {
  font-size: 1.35rem; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem; }

section {
  padding: 1rem 0; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px; }
  .gallery li {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    text-align: center;
    opacity: 1;
    padding: 1rem;
    width: calc(100% - 2rem);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    max-height: 20rem; }
    @media (min-width: 625px) {
      .gallery li {
        width: calc(100%/2 - 2rem); } }
    @media (min-width: 1000px) {
      .gallery li {
        width: calc(100%/3 - 2rem); } }
  .gallery img {
    position: relative;
    right: 50%;
    width: 200%; }
  .gallery .li-show {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: one;
            animation-iteration-count: one;
    -webkit-animation-name: galleryLoad;
            animation-name: galleryLoad;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    opacity: 1; }
  .gallery .li-hover:hover {
    padding: 0;
    margin: 0;
    margin-left: -0.25rem;
    margin-top: -0.5rem;
    max-height: 21rem;
    width: calc(100%); }
    @media (min-width: 625px) {
      .gallery .li-hover:hover {
        width: calc(100%/2); } }
    @media (min-width: 1000px) {
      .gallery .li-hover:hover {
        width: calc(100%/3); }
        .gallery .li-hover:hover .img-desc {
          top: 80%; } }
  .gallery .img-desc {
    color: white;
    text-align: left;
    position: absolute;
    padding: 0.25rem 0.5rem;
    width: 100%;
    height: 5rem;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .gallery .img-title {
    margin-bottom: 0.5rem; }
  .gallery .img-likes {
    display: inline-block;
    background: #222;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border: 0.05rem solid #ccc; }
