@import url('https://fonts.googleapis.com/css?family=Lato|Patua+One')


@import partials/_reset

@import modules/_utility
@import modules/_fonts
@import modules/_all

@import partials/_gallery

$max-width: 1000px
$base-content-size: 1.1rem

$header-font: 'Patua One', cursive;
$content-font: 'Lato', sans-serif

@mixin animate($name, $duration, $iteration, $direction)
	animation-duration: $duration
	animation-iteration-count: $iteration
	animation-name: $name
	animation-direction: $direction

@mixin keyframes($animationName) 
    @keyframes #{$animationName}
        @content

@include keyframes(pageLoad)
	0% 
		opacity: 0

	100% 
		opacity: 1

@mixin pageLoad 
	@include animate(pageLoad, 3s, one, normal)


@include keyframes(galleryLoad)
	0% 
		opacity: 0

	50%
		opacity: 0

	100% 
		opacity: 1

@mixin galleryLoad 
	@include animate(galleryLoad, 1s, one, normal)

body
	padding: 1rem

header, footer
	@include pageLoad
	text-align: center
	animation:

.globe
	cursor: pointer
	margin-bottom: 0.5rem
	@include responsive(tablet)
		width: 5rem
	@include responsive(desktop)
		width: 7.5rem
		font-size: $base-content-size + 1rem


h1, h2, h3, blockquote
	font-family: $header-font


h1
	margin-bottom: 1rem
	font-size: $base-content-size + 0.5rem
	@include responsive(tablet)
		font-size: $base-content-size + 0.75rem
	@include responsive(desktop)
		font-size: $base-content-size + 1rem

blockquote
	padding: 0 0.5rem
	font-size: $base-content-size
	@include responsive(tablet)
		padding: 0
		font-size: $base-content-size + 0.25
	@include responsive(desktop)
		padding: 0
		font-size: $base-content-size + 0.5rem

h3
	font-size: $base-content-size + 0.25rem

p
	font-family: $content-font
	font-size: $base-content-size

section
	padding: 1rem 0

.gallery
	@extend %center-object
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-around
	align-items: center
	max-width: $max-width

	li
		position: relative
		overflow: hidden
		margin-bottom: 2rem
		text-align: center
		opacity: 1
		padding: 1rem
		width: calc(100% - 2rem)
		transition: 0.2s
		max-height: 20rem
		@include responsive(tablet)
			width: calc(100%/2 - 2rem)
		@include responsive(desktop)
			width: calc(100%/3 - 2rem)

	img
		position: relative
		right: 50%
		width: 200%

	.li-show
		@include galleryLoad
		opacity: 1

	.li-hover:hover
		padding: 0
		margin: 0
		margin-left: -0.25rem
		margin-top: -0.5rem
		max-height: 21rem
		width: calc(100%)
		@include responsive(tablet)
			width: calc(100%/2)
		@include responsive(desktop)
			width: calc(100%/3)
			
			.img-desc
				top: 80%

	.img-desc
		color: white
		text-align: left
		position: absolute
		padding: 0.25rem 0.5rem
		width: 100%
		height: 5rem
		top: 100%
		left: 0
		background: rgba(0,0,0,0.8)
		transition: 0.3s

	.img-title
		margin-bottom: 0.5rem

	.img-likes
		display: inline-block
		background: #222
		padding: 0.25rem 0.75rem
		border-radius: 0.25rem
		border: 0.05rem solid #ccc

		
 