@import url('https://fonts.googleapis.com/css?family=Roboto|Merriweather');

$base-content-size: 1.1rem
$header-font: 'Patua One', cursive;
$content-font: 'Lato', sans-serif

h1, h2, h3, blockquote
	font-family: $header-font

h1
	margin-bottom: 1rem
	font-size: $base-content-size + 0.5rem
	@include responsive(tablet)
		font-size: $base-content-size + 0.75rem
	@include responsive(desktop)
		font-size: $base-content-size + 1rem

blockquote
	padding: 0 0.5rem
	font-size: $base-content-size
	@include responsive(tablet)
		padding: 0
		font-size: $base-content-size + 0.25
	@include responsive(desktop)
		padding: 0
		font-size: $base-content-size + 0.5rem

h3
	font-size: $base-content-size

p
	font-family: $content-font
	font-size: $base-content-size - 0.25rem